@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 style="color:purple" class="display-4"><strong>𝙀𝙫𝙧𝙚𝙣𝙨𝙚𝙡 𝙇𝙞𝙗𝙧𝙖𝙧𝙮</strong></h1>
    <h1 style = "color:purple" class="display-4"><strong>Online Kütüphane</strong></h1>
    <br />
    <br />
    <p><img src="/img/library.jpg"</p>
</div>