@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">
    <br />
    <br />
    <h2 style="color:darkmagenta">@ViewData["Title"]</h2>

    <br />
    <br />
    <h3>Telefon Numaramız</h3>
    <h3>0505 903 1910</h3>
    <br />
    <h3>E-Posta Adresimiz</h3>
    <h3><a href="mailto:yta.iletisim@gmail.com">Evrenuludag563@gmail.com</a></h3>
</div>